#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3598DC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3598DC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3598DC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3598DC;
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Triangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(270.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Triangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Table_1 {
  border-collapse: separate;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_7 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_9 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_4 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_6 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_8 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_10 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_11 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_12 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_13 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_14 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_15 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_16 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_17 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_18 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_19 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_20 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_21 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_22 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_23 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_24 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_25 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_26 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_27 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_28 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_29 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_30 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_31 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_32 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_33 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_34 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_35 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_36 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_37 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_38 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_39 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_40 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_114 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_41 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_42 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_43 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_44 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_45 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_45 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_46 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_46 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_47 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_47 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_48 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_49 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_50 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_51 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_51 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_52 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_52 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_53 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_53 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_54 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_54 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_55 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_55 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_56 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_56 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_57 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_57 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_58 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_58 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_59 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_59 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_100 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_60 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_60 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_61 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_61 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_62 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_62 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_63 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_63 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_93 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_64 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_64 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_101 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_65 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_65 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_66 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_66 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_67 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_67 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_68 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_68 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_94 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_69 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_69 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_102 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_70 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_70 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_71 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_71 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_72 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_72 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_73 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_73 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_95 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_74 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_74 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_103 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_75 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_75 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_76 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_76 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_77 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_77 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_78 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_78 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_96 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_79 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_79 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_104 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_80 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_80 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_81 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_81 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_82 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_82 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_83 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_83 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_97 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_84 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_84 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_85 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_85 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_111 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_86 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_86 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_87 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_87 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_88 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_88 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_98 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_89 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_89 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_90 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_90 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_112 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_91 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_91 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_92 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_92 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_93 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_93 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_99 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_94 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_94 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_95 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Cell_95 > .valign {
  vertical-align: middle;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_113 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}