#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-body_gray {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-header_bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-SOM {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Triangle_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-exit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-display {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-alert {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_red {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_frame {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Dashboard {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Quatation_list {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_approved {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_rejected {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_error {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_credithold {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_completed {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_closed {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-report {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_Verify {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_result {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-ProcessTime {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-cusinfo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Triangle_1 {
  rotation: 270.0;
  margin-left: 3px;
  margin-top: -5px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Triangle_2 {
  rotation: 90.0;
  margin-left: 3px;
  margin-top: -4px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-23a627c1-1f1c-4bf4-8f14-d160c8464645 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}