#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_174 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_161 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_163 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_164 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_168 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rich_text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Approve {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_185 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_134 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_159 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_181 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_180 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_179 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_178 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_176 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_175 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Ellipse {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-black_opacity {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b764674-28d1-4a78-87d3-8172f4cf6cae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}