#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-body_gray {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-header_bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-SOM {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Triangle_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-exit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-display {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-alert {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_red {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_frame {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Dashboard {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Quatation_list {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_approved {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_rejected {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_error {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_credithold {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_completed {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_closed {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-report {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_Verify {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_result {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-ProcessTime {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-cusinfo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_54 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: -2px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}