#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1366px;
  min-width: 1366px;
  min-height: 1200px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Master_item_1 div.offset {
  position: relative;
  top: -133px;
  left: -114px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Master_item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 1200px;
  overflow: visible;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-empployee_details {
  position: absolute;
  top: 134px;
  left: 240px;
  width: 1053px;
  height: 521px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1021px;
  height: 521px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #D9D9D9;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_4 {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 300px;
  height: 320px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CECECE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CECECE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CECECE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CECECE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_32 {
  position: absolute;
  top: 8px;
  left: 299px;
  width: 325px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_32 span {
  color: #3598DC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #3598DC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Group_6 {
  position: absolute;
  top: 11px;
  left: 743px;
  width: 302px;
  height: 168px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_33 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 302px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_33 span {
  color: #3598DC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #3598DC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_34 {
  position: absolute;
  top: 43px;
  left: 183px;
  width: 28px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_34 span {
  color: #258FD7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #258FD7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_8 {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 220px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_35 {
  position: absolute;
  top: 44px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_36 {
  position: absolute;
  top: 77px;
  left: 183px;
  width: 28px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_9 {
  position: absolute;
  top: 104px;
  left: 0px;
  width: 220px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_37 {
  position: absolute;
  top: 78px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_37 span#rtr-s-Text_37_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_38 {
  position: absolute;
  top: 109px;
  left: 175px;
  width: 35px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_38 span#rtr-s-Text_38_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_10 {
  position: absolute;
  top: 136px;
  left: 0px;
  width: 220px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_39 {
  position: absolute;
  top: 110px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_39 span#rtr-s-Text_39_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_40 {
  position: absolute;
  top: 140px;
  left: 176px;
  width: 35px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_40 span {
  color: #E7505A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #E7505A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_11 {
  position: absolute;
  top: 167px;
  left: 0px;
  width: 220px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_41 {
  position: absolute;
  top: 141px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_41 span#rtr-s-Text_41_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_42 {
  position: absolute;
  top: 37px;
  left: 338px;
  width: 233px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Group_7 {
  position: absolute;
  top: 68px;
  left: 338px;
  width: 253px;
  height: 126px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Group_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 253px;
  height: 126px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 {
  position: absolute;
  top: 0px;
  left: 67px;
  width: 80px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_43 span#rtr-s-Text_43_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Group_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 253px;
  height: 126px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_44 {
  position: absolute;
  top: 15px;
  left: 125px;
  width: 128px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_45 {
  position: absolute;
  top: 0px;
  left: 29px;
  width: 80px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_45 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_5 > svg {
  width: 24px;
  height: 24px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_5 {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_6 > svg {
  width: 24px;
  height: 24px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_6 {
  position: absolute;
  top: 39px;
  left: 1px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 {
  position: absolute;
  top: 31px;
  left: 29px;
  width: 80px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 span#rtr-s-Text_46_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_46 span#rtr-s-Text_46_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 {
  position: absolute;
  top: 31px;
  left: 102px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 span#rtr-s-Text_47_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 span#rtr-s-Text_47_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_47 span#rtr-s-Text_47_2 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_48 {
  position: absolute;
  top: 60px;
  left: 29px;
  width: 80px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_48 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_49 {
  position: absolute;
  top: 86px;
  left: 30px;
  width: 80px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_49 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_49 span#rtr-s-Text_49_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 {
  position: absolute;
  top: 60px;
  left: 75px;
  width: 150px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 span#rtr-s-Text_50_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 span#rtr-s-Text_50_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 span#rtr-s-Text_50_2 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_50 span#rtr-s-Text_50_3 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 {
  position: absolute;
  top: 85px;
  left: 79px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 span#rtr-s-Text_51_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 span#rtr-s-Text_51_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_51 span#rtr-s-Text_51_2 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_7 > svg {
  width: 24px;
  height: 24px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_7 {
  position: absolute;
  top: 69px;
  left: 1px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_8 > svg {
  width: 24px;
  height: 24px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_8 {
  position: absolute;
  top: 94px;
  left: 1px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_12 {
  position: absolute;
  top: 199px;
  left: 342px;
  width: 666px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Line_13 {
  position: absolute;
  top: 278px;
  left: 341px;
  width: 666px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DAE2EA;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_7 {
  position: absolute;
  top: 277px;
  left: 343px;
  width: 90px;
  height: 4px;
  background-color: #3598DC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_7 span {
  color: #3598DC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #3598DC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Group_10 {
  position: absolute;
  top: 210px;
  left: 340px;
  width: 231px;
  height: 32px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_53 {
  position: absolute;
  top: 4px;
  left: 31px;
  width: 200px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_53 span {
  color: #258FD7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_53 span#rtr-s-Text_53_0 {
  color: #258FD7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_54 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 27px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_54 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_54 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 16.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_54 span#rtr-s-Text_54_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Group_11 {
  position: absolute;
  top: 247px;
  left: 350px;
  width: 703px;
  height: 29px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_55 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 110px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_55 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_55 span#rtr-s-Text_55_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_56 {
  position: absolute;
  top: 1px;
  left: 112px;
  width: 110px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_56 span {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_56 span#rtr-s-Text_56_0 {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_57 {
  position: absolute;
  top: 1px;
  left: 218px;
  width: 110px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_57 span {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_57 span#rtr-s-Text_57_0 {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_58 {
  position: absolute;
  top: 1px;
  left: 297px;
  width: 110px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_58 span {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_58 span#rtr-s-Text_58_0 {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_58 span#rtr-s-Text_58_1 {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_59 {
  position: absolute;
  top: 1px;
  left: 398px;
  width: 110px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_59 span {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_59 span#rtr-s-Text_59_0 {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_60 {
  position: absolute;
  top: 1px;
  left: 491px;
  width: 110px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_60 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_60 span {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_60 span#rtr-s-Text_60_0 {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_61 {
  position: absolute;
  top: 0px;
  left: 593px;
  width: 110px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_61 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_61 span {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_61 span#rtr-s-Text_61_0 {
  color: #B5C1C9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Category_2 {
  position: absolute;
  top: 223px;
  left: 928px;
  width: 80px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Category_2 .valign {
  width: 62px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Image_9 {
  position: absolute;
  top: 295px;
  left: 340px;
  width: 673px;
  height: 209px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-H1_text {
  position: absolute;
  top: 85px;
  left: 240px;
  width: 310px;
  height: 40px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 22.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_3 {
  position: absolute;
  top: 10px;
  left: 150px;
  width: 160px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_3 span {
  color: #9EACB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #9EACB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5432bdd2-d2f0-4a95-b77b-7fc7e6b647f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}