#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #258FD7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #258FD7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #258FD7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #258FD7;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_94 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_98 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-logo {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_95 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_96 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_97 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_99 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_100 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_101 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_102 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_103 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_104 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_156 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_111 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_112 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_113 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_114 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_115 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_116 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_117 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_118 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_119 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_120 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_155 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_171 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_172 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_173 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_174 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Table_3 {
  border-collapse: separate;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_10 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_186 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_20 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_185 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_32 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_121 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_36 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_125 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_40 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_129 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_44 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_132 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_48 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_135 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_56 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_56 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_139 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_64 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_64 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_143 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_68 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_68 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_147 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_72 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_72 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_151 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_11 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_21 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_33 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_122 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_37 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_126 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_41 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_130 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_45 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_45 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_158 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_49 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_136 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_61 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_61 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_140 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_65 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_65 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_144 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_69 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_69 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_148 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_73 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_73 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_152 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_12 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_22 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_34 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_123 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_38 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_127 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_42 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_131 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_46 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_46 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_133 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_54 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_54 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_137 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_62 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_62 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_141 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_66 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_66 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_145 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_70 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_70 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_149 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_74 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_74 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_153 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_13 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_23 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_35 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_39 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_128 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_43 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_182 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_47 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_47 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_134 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_55 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_55 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_138 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_63 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_63 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_142 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_67 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_67 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_146 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_71 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_71 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_150 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_75 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_75 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_154 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_14 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_24 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_124 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_159 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_181 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_4 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_180 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_179 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_6 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_178 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_7 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_177 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_8 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_176 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_9 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_175 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_160 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Table_4 {
  border-collapse: separate;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_76 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_76 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_161 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_77 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_77 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_162 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_78 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Cell_78 > .valign {
  vertical-align: middle;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_163 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_164 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_165 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_166 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_167 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_168 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_16 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_169 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_170 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Paragraph_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F7F7F7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 469px;
  height: 12px;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Paragraph_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 163px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Table_1 {
  border-collapse: separate;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Table_2 {
  border-collapse: separate;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Table_5 {
  border-collapse: separate;
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rich_text {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Approve {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Approve_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Approve_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Ellipse {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_9 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #26C281;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #26C281;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #26C281;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #26C281;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #23B176;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #23B176;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #23B176;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #23B176;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_20 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FD6721;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FD6721;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FD6721;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FD6721;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FD6721;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD6721;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FD6721;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_26 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_27 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #26C281;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #26C281;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #26C281;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #26C281;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #23B176;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #23B176;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #23B176;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #23B176;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_30 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_31 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Rectangle_32 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8f28f997-9c8f-4695-9f5b-daf1052a92e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}