#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-body_gray {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-header_bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-SOM {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Triangle_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-exit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-display {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-alert {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_red {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_frame {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Dashboard {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Quatation_list {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_approved {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_rejected {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_error {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_credithold {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_completed {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_closed {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-report {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_Verify {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_result {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-ProcessTime {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-cusinfo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_134 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1101993-bf8a-4ac5-a768-dd6dd929670e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}