#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Group_1 {
  position: absolute;
  top: 133px;
  left: 114px;
  width: 1366px;
  height: 1200px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-body_gray {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 1200px;
  background-color: #F3F5F9;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-body_gray .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-body_gray span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-body_gray span#rtr-m-6450bb98-body_gray_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 76px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-header_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 74px;
  background-color: #3B3F51;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-header_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-header_bar span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-header_bar span#rtr-m-6450bb98-header_bar_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-logo {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 200px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-SOM {
  position: absolute;
  top: 0px;
  left: 240px;
  width: 286px;
  height: 76px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-SOM .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-SOM span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 18.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-SOM span#rtr-m-6450bb98-SOM_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-display_emp_group {
  position: absolute;
  top: 15px;
  left: 1122px;
  width: 211px;
  height: 150px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-display_menu {
  position: absolute;
  top: 61px;
  left: 0px;
  width: 178px;
  height: 89px;
  display: none;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Rectangle_1 {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 178px;
  height: 81px;
  background-color: #575D77;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Rectangle_1 span#rtr-m-6450bb98-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Triangle_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 25px;
  height: 13px;
  position: absolute;
  overflow: hidden;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Triangle_1 .content {
  width: 25px;
  height: 13px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Triangle_1 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 25px;
  height: 13px;
  background-color: #575D77;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #shapewrapper-m-6450bb98-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #shapewrapper-m-6450bb98-Triangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #shapewrapper-m-6450bb98-Triangle_1 span#rtr-m-6450bb98-Triangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Line_1 {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 177px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DADCE4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_6 {
  position: absolute;
  top: 61px;
  left: 33px;
  width: 129px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_6 span {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_6 span#rtr-m-6450bb98-Text_6_0 {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_10 {
  position: absolute;
  top: 67px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_10 span {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_10 span#rtr-m-6450bb98-Label_10_0 {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_5 {
  position: absolute;
  top: 34px;
  left: 33px;
  width: 129px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_5 span {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_5 span#rtr-m-6450bb98-Text_5_0 {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_5 span#rtr-m-6450bb98-Text_5_1 {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_9 {
  position: absolute;
  top: 39px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_9 span {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_9 span#rtr-m-6450bb98-Label_9_0 {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_4 {
  position: absolute;
  top: 11px;
  left: 33px;
  width: 129px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_4 span {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_4 span#rtr-m-6450bb98-Text_4_0 {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_8 {
  position: absolute;
  top: 14px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_8 span {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_8 span#rtr-m-6450bb98-Label_8_0 {
  color: #DADCE4;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-exit {
  position: absolute;
  top: 5px;
  left: 184px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-exit .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-exit span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-exit span#rtr-m-6450bb98-exit_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-display {
  position: absolute;
  top: 0px;
  left: 132px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-mail {
  position: absolute;
  top: 10px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-mail .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-mail span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 20.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-mail span#rtr-m-6450bb98-mail_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-alert {
  position: absolute;
  top: 10px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-alert .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-alert span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 20.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-alert span#rtr-m-6450bb98-alert_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_blue .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_blue .content {
  width: 20px;
  height: 20px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_blue {
  position: absolute;
  top: 6px;
  left: 43px;
  width: 20px;
  height: 20px;
  background-color: #3598DC;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #shapewrapper-m-6450bb98-Ellipse_blue .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #shapewrapper-m-6450bb98-Ellipse_blue span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #shapewrapper-m-6450bb98-Ellipse_blue span#rtr-m-6450bb98-Ellipse_blue_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_52 {
  position: absolute;
  top: 6px;
  left: 45px;
  width: 25px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_52 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_52 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_52 span#rtr-m-6450bb98-Text_52_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_red .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_red .content {
  width: 20px;
  height: 20px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_red {
  position: absolute;
  top: 8px;
  left: 93px;
  width: 20px;
  height: 20px;
  background-color: #E7505A;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #shapewrapper-m-6450bb98-Ellipse_red .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #shapewrapper-m-6450bb98-Ellipse_red span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #shapewrapper-m-6450bb98-Ellipse_red span#rtr-m-6450bb98-Ellipse_red_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_2 {
  position: absolute;
  top: 8px;
  left: 99px;
  width: 14px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_2 span#rtr-m-6450bb98-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-main_menu {
  position: absolute;
  top: 223px;
  left: 133px;
  width: 193px;
  height: 468px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_frame {
  position: absolute;
  top: 0px;
  left: 3px;
  width: 190px;
  height: 325px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 1px 5px 0px #EFEFEF;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_frame .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_frame span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_frame span#rtr-m-6450bb98-menu_frame_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_dashboard {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 193px;
  height: 36px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 35px;
  background-color: #F2F6F9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #5C9ACF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select span#rtr-m-6450bb98-item_select_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Dashboard {
  position: absolute;
  top: 6px;
  left: 43px;
  width: 129px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Dashboard .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Dashboard span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Dashboard span#rtr-m-6450bb98-Dashboard_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_3 {
  position: absolute;
  top: 7px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_3 span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 16.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_3 span#rtr-m-6450bb98-Label_3_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_quatationlist {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 193px;
  height: 35px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 35px;
  background-color: #F2F6F9;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #5C9ACF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_1 span#rtr-m-6450bb98-item_select_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_5 {
  position: absolute;
  top: 8px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_5 span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_5 span#rtr-m-6450bb98-Label_5_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Quatation_list {
  position: absolute;
  top: 5px;
  left: 43px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Quatation_list .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Quatation_list span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Quatation_list span#rtr-m-6450bb98-Quatation_list_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_orderlist {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 193px;
  height: 190px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 30px;
  background-color: #F2F6F9;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #5C9ACF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_2 span#rtr-m-6450bb98-item_select_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list {
  position: absolute;
  top: 4px;
  left: 43px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list span#rtr-m-6450bb98-order_list_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_approved {
  position: absolute;
  top: 30px;
  left: 55px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_approved .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_approved span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_approved span#rtr-m-6450bb98-order_list_approved_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_approved span#rtr-m-6450bb98-order_list_approved_1 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_rejected {
  position: absolute;
  top: 50px;
  left: 55px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_rejected .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_rejected span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_rejected span#rtr-m-6450bb98-order_list_rejected_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_rejected span#rtr-m-6450bb98-order_list_rejected_1 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_error {
  position: absolute;
  top: 70px;
  left: 55px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_error .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_error span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_error span#rtr-m-6450bb98-order_list_error_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_credithold {
  position: absolute;
  top: 90px;
  left: 55px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_credithold .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_credithold span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_credithold span#rtr-m-6450bb98-order_list_credithold_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_credithold span#rtr-m-6450bb98-order_list_credithold_1 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_credithold span#rtr-m-6450bb98-order_list_credithold_2 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel {
  position: absolute;
  top: 110px;
  left: 55px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel span#rtr-m-6450bb98-order_list_cancel_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_completed {
  position: absolute;
  top: 150px;
  left: 55px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_completed .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_completed span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_completed span#rtr-m-6450bb98-order_list_completed_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_completed span#rtr-m-6450bb98-order_list_completed_1 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_completed span#rtr-m-6450bb98-order_list_completed_2 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_closed {
  position: absolute;
  top: 170px;
  left: 55px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_closed .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_closed span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_closed span#rtr-m-6450bb98-order_list_closed_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_4 {
  position: absolute;
  top: 8px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_4 span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_4 span#rtr-m-6450bb98-Label_4_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel_1 {
  position: absolute;
  top: 130px;
  left: 55px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel_1 span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel_1 span#rtr-m-6450bb98-order_list_cancel_1_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_report {
  position: absolute;
  top: 255px;
  left: 0px;
  width: 193px;
  height: 213px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 30px;
  background-color: #F2F6F9;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #5C9ACF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_3 span#rtr-m-6450bb98-item_select_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-report {
  position: absolute;
  top: 2px;
  left: 43px;
  width: 129px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-report .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-report span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-report span#rtr-m-6450bb98-report_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_Verify {
  position: absolute;
  top: 156px;
  left: 0px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_Verify .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_Verify span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_Verify span#rtr-m-6450bb98-Total_Verify_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_Verify span#rtr-m-6450bb98-Total_Verify_1 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_result {
  position: absolute;
  top: 173px;
  left: 0px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_result .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_result span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_result span#rtr-m-6450bb98-Total_result_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_result span#rtr-m-6450bb98-Total_result_1 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-ProcessTime {
  position: absolute;
  top: 193px;
  left: 0px;
  width: 129px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-ProcessTime .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-ProcessTime span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-ProcessTime span#rtr-m-6450bb98-ProcessTime_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-ProcessTime span#rtr-m-6450bb98-ProcessTime_1 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_6 {
  position: absolute;
  top: 6px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_6 span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_6 span#rtr-m-6450bb98-Label_6_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_cusinfo {
  position: absolute;
  top: 285px;
  left: 0px;
  width: 193px;
  height: 31px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 31px;
  background-color: #F2F6F9;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #5C9ACF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_4 span#rtr-m-6450bb98-item_select_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_7 {
  position: absolute;
  top: 6px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_7 span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 14.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_7 span#rtr-m-6450bb98-Label_7_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-cusinfo {
  position: absolute;
  top: 6px;
  left: 44px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-cusinfo .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-cusinfo span {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-cusinfo span#rtr-m-6450bb98-cusinfo_0 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-cusinfo span#rtr-m-6450bb98-cusinfo_1 {
  color: #678098;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}