#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-body_gray {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-header_bar {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-logo {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-SOM {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Triangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DADCE4;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DADCE4;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-exit {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-display {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-mail {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-alert {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_blue {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Ellipse_red {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-menu_frame {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #5C9ACF;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Dashboard {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #5C9ACF;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Quatation_list {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #5C9ACF;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_approved {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_rejected {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_error {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_credithold {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_completed {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_closed {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-order_list_cancel_1 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #5C9ACF;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-report {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_Verify {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Total_result {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-ProcessTime {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-item_select_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #5C9ACF;
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb #m-6450bb98-cusinfo {
  -ms-transform: rotate(0.0deg);
}
#m-6450bb98-8fc2-4661-b1f8-dd3fbf1bbecb.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}