#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Rectangle_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Text_153 {
  -ms-transform: rotate(0.0deg);
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_63 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F7F7F7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 469px;
  height: 12px;
  -ms-transform: rotate(0.0deg);
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_64 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 163px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}