#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Group_31 {
  position: absolute;
  top: 437px;
  left: 460px;
  width: 600px;
  height: 169px;
  display: none;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Rectangle_15 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 600px;
  height: 150px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #CCCCCC;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Rectangle_15 span#rtr-m-d00a4a3b-Rectangle_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Text_153 {
  position: absolute;
  top: 0px;
  left: 167px;
  width: 368px;
  height: 138px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Text_153 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Text_153 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Text_153 span#rtr-m-d00a4a3b-Text_153_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Text_153 span#rtr-m-d00a4a3b-Text_153_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Text_153 span#rtr-m-d00a4a3b-Text_153_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Text_153 span#rtr-m-d00a4a3b-Text_153_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Image_35 > svg {
  width: 80px;
  height: 80px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Image_35 {
  position: absolute;
  top: 32px;
  left: 77px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Group_32 {
  position: absolute;
  top: 119px;
  left: 77px;
  width: 475px;
  height: 19px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_63 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 469px;
  height: 12px;
  background-color: #F7F7F7;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F7F7F7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_63 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_63 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_63 span#rtr-m-d00a4a3b-Paragraph_63_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_64 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 163px;
  height: 16px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/b75e4f08-ba78-4454-8c27-f4cd110e49e1.png');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_64 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_64 span#rtr-m-d00a4a3b-Paragraph_64_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}