#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Text_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db #m-d00a4a3b-Paragraph_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d00a4a3b-ff02-43bc-8e9b-acf9d9b415db.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}